html {
    height: 100%;
    font-size: 16pt;
}
body {

    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

}

// Start of header
.main-header {
    height: 100%;
    background: url('../res/guy.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .secondary-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .header-title-container {
            .image {
                .overlay-image {
                    mix-blend-mode: overlay;
                    opacity: 0.82;
                }
            }
        }
    }
    

    .header-sub-title {
        font-family: Arial, Helvetica, sans-serif;
        mix-blend-mode: soft-light;
        font-size: 34pt;
        
    }
    .header-additional-info {

        p {
            color: #ffffff;
            mix-blend-mode: overlay;
            font-size: 16pt;
        }
    }
    .ticket-btn {
        button {
            border: none;
            background: #5c1819;
            mix-blend-mode: overlay;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            padding: 5px 25px 5px 25px;
            cursor: pointer;

            font-size: 30px;
            color: #ffffff;
        }

    }
}
// End of header